html {
	position: relative;
}

#menu {
	margin-top: 0px;
	padding: 0;
	background-color: #dfe6e9;
	margin-bottom: 0px;
}

#menu li {
	margin-top: 70px;
	float: right;
	list-style: none;
	margin-left: 5px;
}

#menu ul li a {
	text-decoration: none;
	color: #0E0B16;
	padding: 10px 15px;
	font-variant: small-caps;
}

#menu ul li a:hover {
	background: #0E0B16;
	color: #dfe6e9;
}